@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login - The Library</title>
</head>
<body>
    <div>
        FORM DEL LOGIN

        @Html.ActionLink("Go To Registration", "Registration")
    </div>
</body>
</html>
